:root {
  /* Color Shades
     air     -> Backgrounds, etc.
     stain   -> Borders, etc.
     ink     -> Main color for interactives, contents, etc.
     weight  -> Can be used as a hovered variant for ink
     fade    -> Can be used as a hovered/secondary variant for ink, or a disabled variant if weight exists
     deep    -> Can be used as a pressed variant for ink, or as a styled foreground

     Note: both air & stain can be used as hover colors if the context allows.
  */

  /* Brand Colors: Used for main actions and important elements */
  --c-brand-air: #f9e5e4;
  --c-brand-stain: #eab6b3;
  --c-brand-ink: #b3302a;
  --c-brand-weight: #8f261f;
  --c-brand-fade: #d9aba5;
  --c-brand-deep: #6b1b15;
  
  /* Neutral Colors: Used for text & neutral elements */
  --c-neutral-air: #eaeae8;
  --c-neutral-stain: #b0b1ae;
  --c-neutral-ink: #1a1c1a;
  --c-neutral-fade: #7a7c7a;
  --c-neutral-deep: #0e0f0e;

  /* Bone-ish Colors: Used for UI backgrounds */
  --c-bone-air: #effcf8;
  --c-bone-stain: #f5f3f0;
  --c-bone-ink: #e8e4df;
  --c-bone-weight: #dcd6d0;
  --c-bone-fade: #f0edea;
  --c-bone-deep: #c9c2bb;

  /* Hay-ish Colors: Used for highlighting */
  --c-hay-air: #f7eed6;
  --c-hay-stain: #e9cf8f;
  --c-hay-ink: #d9b45b;
  --c-hay-weight: #8f6a2e;
  --c-hay-fade: #e9dba8;
  --c-hay-deep: #8f6a2e;

  /* Bamboo-ish Colors: Used for exact matches, etc. */
  --c-bamboo-air: #e2ece8;
  --c-bamboo-stain: #8eb2a3;
  --c-bamboo-ink: #4a6b5d;
  --c-bamboo-weight: #334d42;
  --c-bamboo-fade: #a6bfb5;
  --c-bamboo-deep: #1f332a;
}